.Contacts {
    background-color: rgb(54, 48, 98);
    width: 240px;
    height: 290px;
    margin: 5px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

h2 {
    margin: 0;
    padding: 10px;
    text-align: center;
    color: rgb(233, 213, 218);
}

ul {
    line-height: 28px;
    color: rgb(54, 48, 98);
    margin-left: -9px;
}

.Contacts ul {
    color: rgb(233, 213, 218);
}

.Contacts a {
    color: rgb(130, 115, 151);
}

a {
    color: rgb(233, 213, 218);
}
